GEMINI_API_KEY=AIzaSyC1EnHiTyLaNHUgPkexrUN1VKaldLKiL_s
GEMINI_MODEL=gemini-2.5-flash
SIGHTENGINE_USER=8685600
SIGHTENGINE_SECRET=hWGKTUbdQ4MUrkQyRcb42HXfEP4ommiP
CORS_ORIGINS=*
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=info
